
*.db
.vs/Goats-Mod-Compilation/v16/Browse.VC.db-shm
.vs/Goats-Mod-Compilation/v16/Browse.VC.db-wal
.vs/Goats-Mod-Compilation/v16/Browse.VC.opendb
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/slnx.sqlite-journal
.vs/Goats-Mod-Compilation/v16/.suo
.vs/VSWorkspaceState.json
Tools/format/out/build/x64-Debug (default)/CMakeCache.txt
Tools/format/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CMakeCCompiler.cmake
Tools/format/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CMakeCXXCompiler.cmake
Tools/format/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CMakeDetermineCompilerABI_C.bin
Tools/format/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
Tools/format/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
Tools/format/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
Tools/format/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
Tools/format/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
Tools/format/out/build/x64-Debug (default)/CMakeFiles/cmake.check_cache
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeOutput.log
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/.ninja_deps
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/.ninja_log
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/build.ninja
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/cmake_install.cmake
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/CMakeCache.txt
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/CMakeFiles/cmake.check_cache
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_4a249.dir/embed.manifest
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_4a249.dir/intermediate.manifest
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_4a249.dir/manifest.rc
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_4a249.dir/manifest.res
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_4a249.dir/testCCompiler.c.obj
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_4a249.dir/vc140.pdb
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/CMakeFiles/TargetDirectories.txt
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/CMakeLists.txt
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/cmTC_4a249.exe
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/cmTC_4a249.ilk
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/cmTC_4a249.pdb
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/rules.ninja
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/testCCompiler.c
Tools/format/out/build/x64-Debug (default)/CMakeFiles/ShowIncludes/main.obj
Tools/format/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CMakeCCompiler.cmake
Tools/format/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CMakeCXXCompiler.cmake
Tools/format/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
Tools/format/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
Tools/format/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
Tools/format/out/build/x64-Debug (default)/CMakeFiles/3.17.20032601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeOutput.log
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/.ninja_deps
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/.ninja_log
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/build.ninja
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/cmake_install.cmake
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/CMakeCache.txt
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/CMakeFiles/cmake.check_cache
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_4a249.dir/embed.manifest
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_4a249.dir/intermediate.manifest
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_4a249.dir/manifest.rc
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_4a249.dir/manifest.res
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_4a249.dir/testCCompiler.c.obj
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_4a249.dir/vc140.pdb
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/CMakeFiles/TargetDirectories.txt
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/CMakeLists.txt
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/cmTC_4a249.exe
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/cmTC_4a249.ilk
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/cmTC_4a249.pdb
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/rules.ninja
Tools/format/out/build/x64-Debug (default)/CMakeFiles/CMakeTmp/testCCompiler.c
Tools/format/out/build/x64-Debug (default)/CMakeFiles/ShowIncludes/main.obj
.vs/CMake Overview
