
.vs/Goats-Mod-Compilation/v16/Browse.VC.db
.vs/Goats-Mod-Compilation/v16/Browse.VC.db-shm
.vs/Goats-Mod-Compilation/v16/Browse.VC.db-wal
.vs/Goats-Mod-Compilation/v16/Browse.VC.opendb
.vs/slnx.sqlite
.vs/slnx.sqlite-journal
.vs/Goats-Mod-Compilation/v16/.suo
.vs/VSWorkspaceState.json
